<div>
    <table class="problem">
        <tr *ngFor="let row of cells; let i = index">
            <td *ngFor="let column of row" (click)="onHoldSelected(column.index)">
                <div>
                    <div [class.hold]="column.type == 'hold'"
                         [class.light]="column.type == 'light'"
                         [class.gap]="column.type == 'gap'"
                         [class.FEET]="column.holdType === 'FEET'"
                         [class.START]="column.holdType === 'START'"
                         [class.MOVES]="column.holdType === 'MOVES'"
                         [class.TOP]="column.holdType === 'TOP'"
                    ></div>
                </div>
            </td>
        </tr>
    </table>
</div>
