.problem {
  background-color: #EEE;
  border: solid 2px #CCC;
  touch-action: none;
}

.hold {
  max-width: calc( 90vh / 36);
  max-height: calc( 90vh / 36);
  background-color: #EEE;
  width: calc( 90vw / 27 );
  height: calc( 90vw / 27 );
  border-style: solid;
  border-width: 1px;
  border-radius: calc( 90vw / 54 );
}

.light-container {
  max-width: calc( 90vh / 36);
  max-height: calc( 90vh / 36);
  background-color: #EEE;
  width: calc( 90vw / 27 );
  height: calc( 90vw / 27 );
}

.light {
  max-width: 4px;
  max-height: 4px;
  top: calc(50% - 90vw / 300);
  left: calc(50% - 90vw / 300);
  position: relative;
  background-color: #DDD;
  height: calc( 90vw / 150 );
  width: calc( 90vw / 150 );
  border-radius: calc( (90vw) / 216 );
}

.gap {
  max-width: calc( 90vh / 36);
  max-height: calc( 90vh / 36);
  height: calc( 90vw / 27 );
  width: calc( 90vw / 27 );
}

.problem .FEET {
    border-color: orange;
    background-color: peachpuff;
}

.problem .START {
  border-color: green;
  background-color: lightgreen;
}

.problem .TOP {
  border-color: red;
  background-color: pink;
}

.problem .MOVES {
  border-color: blue;
  background-color: lightblue;
}
