<div class="problem-container">
    <div class="problem" [ngClass]="setup"
         (mouseleave)="endDrawing()" (mouseup)="endDrawing()">
        <ng-container *ngFor="let row of cells">
            <div class="board-cell" *ngFor="let cell of row">
                <button *ngIf="cell.type === 'hold'" type="button" class="hold"
                        [disabled]="readonly || !problem || !problem.route"
                        [attr.aria-label]="'Hold ' + (cell.index + 1) + (cell.holdType ? ': ' + cell.holdType : '')"
                        [class.FEET]="cell.holdType === 'FEET'"
                        [class.START]="cell.holdType === 'START'"
                        [class.MOVES]="cell.holdType === 'MOVES'"
                        [class.TOP]="cell.holdType === 'TOP'"
                        [style.background-color]="isArt && cell.holdType === 'RGB' ? cell.color : ''"
                        (mouseenter)="isArt && isDrawing ? onHoldTouched(cell.index) : null"
                        (mousedown)="startDrawing(); isArt ? onHoldTouched(cell.index) : null"
                        (click)="isArt ? ($event.detail === 0 ? onHoldTouched(cell.index) : null) : onHoldSelected(cell.index)">
                </button>
            </div>
        </ng-container>
    </div>
</div>
<div class="board-controls">
    <button type="button" class="btn btn-outline-secondary lighting-button"
            [class.active]="isLighting" [attr.aria-pressed]="isLighting"
            (click)="toggleLighting()">
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        LEDs {{isLighting ? 'on' : 'off'}}
    </button>
</div>
