<div class="home">
    <form (submit)="search(0)">
        <div class="form-group row">
            <div class="col-sm-6 mt-0 mt-sm-5">
                <input type="text" class="form-control" id="name" name="name" placeholder="Search" [(ngModel)]="name" (ngModelChange)="onNameChange($event)">
            </div>
            <div class="col-sm-6 mt-5 difficulty-filter">
                <nouislider [config]="sliderConfig" name="difficulty" [(ngModel)]="difficultyRange" (ngModelChange)="onDifficultyChange($event)"></nouislider>
            </div>
        </div>
    </form>
    <div class="table-fixed">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Difficulty</th>
                    <th>Setter</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let problem of problems">
                    <tr (click)="selectProblem(problem)" [class.bg-info]="selectedProblem === problem" [class.text-white]="selectedProblem === problem">
                        <td>{{problem.name}}</td>
                        <td>{{problem.difficulty}}</td>
                        <td>{{problem.setter}}</td>
                    </tr>
                    <tr *ngIf="selectedProblem === problem && problem.notes" class="bg-light problem-notes">
                        <td colspan="3">{{problem.notes}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <problem [readonly]="true" [problem]="selectedProblem"></problem>
    <div class="problem-actions mt-2">
        <button *ngIf="selectedProblem && !selectedProblem.isNew" type="button" class="btn btn-primary" (click)="edit()">Edit</button>
        <button *ngIf="selectedProblem && !selectedProblem.isNew" type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </div>
</div>
